h2{
    font-family: "Merriweather", serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;

    text-align: center;
    background: linear-gradient(57.38deg, #396F52 0%, #7AAE72 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}
