#jadwalkegiatan{
    height: 540px;
    left: 0px;
    top: 1647px;
    background: #0D342B;

    h2{
        background: linear-gradient(57.38deg, #CDEE8F 0%, #7AAE72 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-emphasis-color: transparent;

        padding-top: 80px;
    }
}
