#jadwalsholat{
    .title{
        margin-top: 187px;
    }

    p{
        margin-top: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #929692;
    }

    .waktu-sholat{
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
        padding: 0px 108px;

        .box-waktu-sholat{
            width: 40%;
            height: 156px;
            border-right: 1px solid #EDEDED;
            border-left: 1px solid #EDEDED;

            .img-waktu{
                padding-top: 28px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 25%;
            }

            h6{
                margin-top: 18px;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #0D342B;
            }

            h5{
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 26px;
                background: linear-gradient(57.38deg, #396F52 0%, #7AAE72 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-align: center;
                text-emphasis-color: transparent;
            }
        }
    }
}
